# Database configuration
DB_USER=postgres
DB_PASSWORD=sEcReTs
DB_NAME=cardio_trace
DB_HOST=localhost
DB_PORT=5432

# Sensor hub configuration
REDIS_URL=redis://redis:6379/0
MQTT_SUBSCRIBE_PATTERN=cardio-trace/+/+
TENANT_EXTRACTION_REGEX=^cardio-trace/([^/]+)/[^/]+$
BACKEND_API_BASE_URL=http://api:8000

# IoT simulation configuration
SIM_CONFIG_PATH=data/rr_config.json
MQTT_HOST=broker
MQTT_PORT=1883
RR_DB_PATH=data/rr_records.db